@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header{
  background-color: rgb(70, 90, 100);
}

.header__news {
  padding: 0.25rem 0 0.25rem 0;
  text-align: center;
}

.header__navbar__catagories__list {
  margin: 1rem;

  display: flex;
  justify-content: space-between;


  list-style: none;
}
.header_navbar_categories_list_item {
  color: white;
}

.header__navbar__contact__list {
  margin: 1rem;
  
  display: flex;
  justify-content: space-between;


  list-style: none;
}
.header__navbar__contact__list_item {
  padding-right: 2rem;
}

.content{
  display: flex;
  justify-content: center;
}

.content__subscription{
  margin: 2% 5%;
}

  @media only screen and (min-width: 769px) {
  .content__subscription__items{
  display: flex;
  justify-content: space-between;
}
}

.content__subscription__items__fields{
display: flex;
flex-direction: column;
margin: 10px 0;
}

@media only screen and (min-width: 769px) {
  .content__subscription__items__fields{
  width: 30%;
}
}

.content__subscription__items__fields > input{
  border: 1px solid rgb(70, 90, 100);
  border-radius: 5px;
  width: 15rem;
  height: 1.8rem;
  margin: 10px 15px 10px 0;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .content__subscription__items__image{
  display: none;
  }
}

.content__subscription__items__image{
  height: 20rem;
  width: fit-content;
  margin: 10px 15px 0 10px;
}

.content__subscription__items__button--confirm > button{
  height: 3rem;
  padding: 0 10px;
  margin: 10px 0;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: rgb(70, 90, 100);
  border: 2px solid rgb(84, 126, 148);
}

.content__subscription__items__button--confirm > button:hover{
  background-color: rgb(84, 126, 148);
  color: #fff;
  border: 2px solid rgb(70, 90, 100);
}

.content__subscription__items__check > label{
  font-size: 0.8rem;
}

.footer{
  padding: 1rem;
  text-align: center;

  background-color: #f6f6f6;
}

.footer__about-container {
  margin-bottom: 1rem;
  text-align: start;
}

.footer__about-container p {
  margin-bottom: 1rem;
  
  font-size: 1rem;
  font-weight: 700;
}

.footer__media-container {
  margin-bottom: 1rem;
  text-align: start;
}

.footer__media-container p {
  margin-bottom: 1rem;

  font-size: 1rem;
  font-weight: 700;
}

.footer__media-container img {
  width: 2rem;
  height: 2rem;

  /* margin: 0 0.5rem; */
}